agentserve==0.2.10
auto_machine_learning==0.0.12
beautifulsoup4==4.14.2
cs2api==0.1.3
fantasyfootball==0.4.26
fastapi==0.119.0
flashscore_scraper==0.0.7
Flask==3.1.2
leaguepedia_parser_thomasbarrepitous==0.1.1
lxml==6.0.2
mcp==1.17.0
nbastatpy==0.2.0
nfl_data_py==0.3.3
numpy==2.3.3
openai==2.3.0
pandas==2.3.3
playwright==1.55.0
plotly==6.3.1
pydantic==2.12.0
pydfs_lineup_optimizer_enhanced==4.0.2
python-dotenv==1.1.1
PyYAML==6.0.3
Requests==2.32.5
requests_oauthlib==2.0.0
scikit_learn==1.7.2
selenium==4.36.0
starlette==0.48.0
streamlit==1.50.0
urllib3==2.5.0
uvicorn==0.37.0
wsba_hockey==1.2.3
